$primary: #252323;
$body-bg: #bfc0c4;
$secondary: #fcfcfc;

@import "./node_modules/bootstrap/scss/bootstrap.scss";


$h1:  100px;

@media (min-width: 992px) {
    .icon {
        i {
            font-size: 60px;
        }
        p {
            font-weight: 600;
        }
    }

    .lrg-icon {
        i {
            font-size: 200px;
        }
        p {
            font-weight: 600;
        }
    }

    body {
        overflow-x: hidden;
        header {
            width: 100%;
            .stuffer {
                height: calc(100vh / 3 - #{$h1});
                max-height: calc(100vh / 3 - #{$h1});
                transition: max-height 0.6s ease;
            }

            h1 {
                font-size: $h1;
                transition-duration: 0.4s;
                text-indent: 20px;
                    ~ div {
                        position: relative;
                        bottom: 0;
                        left: 0;
                        width: 100%;


                        div {
                            display: inline-block;
                            width: calc(100%/3);
                            text-align: center;
                            overflow: hidden;
                            padding-bottom: 10px;
                            font-size: 32px;
                        }
                    }
            }    
        }

        .topS {
            height: 400px;
            width: 100%;
            //background-color: red;
        }

        section {
            #languages {
                display: flex;
                flex: 0 0 1;
                justify-content: space-around;
                div {
                    width: 400px;
                }  
            }

            #projects {
                .card {
                    height: 400px;

                    .card-title {
                        font-weight: 600;
                        font-size: 20px;
                    }

                    .image {
                        width: 100%;
                        height: 230px;
                        padding: 0;
                        margin: 0;
                        background-color: $primary;
                        background-size: 50%;
                        background-repeat: no-repeat;
                        background-position: top center;
                    } 

                    .card-text {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        overflow: hidden;
                        //background-color: lightblue;
                        height: 105px;
                        padding: 10px;
                        transition: ease 0.5s;
                    }
                }
            }
        }
    }
    h2 {
        padding-top: 100px;
    }
    
    
}