$primary: #252323;
$body-bg: #bfc0c4;
$secondary: #fcfcfc;

@import "./node_modules/bootstrap/scss/bootstrap.scss";


$h1:  80px;
html {
    overflow-x: hidden;
}
 //@media (min-width: 750px) {
    .icon {
        i {
            font-size: 60px;
        }
        p {
            font-weight: 600;
        }
    }

    .lrg-icon {     
        i {
            font-size: 200px;
        }
        p {
            font-weight: 600;
        }
    }

    body {
        overflow-x: hidden;
        header {
            width: 100%;
            .stuffer {
                @media screen and (min-width: 600px){
                    height: calc(100vh / 3 - #{$h1});
                    max-height: calc(100vh / 3 - #{$h1});
                    transition: max-height 0.6s ease;                    
                }

            }

            

            
        }

        .topS {
            @media screen and (min-width: 600px) {   
                height: 400px;
            }
                height: 100px;
                width: 100%;
            // background-color: red;
            
        }

        section {
            
            #languages {
                div {
                    width: 33%;
                }
            }
            // #projects {
            //     .card {
            //         font-size: 14px;
            //         text-align: justify;
            //         .card-body {
            //             position: relative;
            //             .image-capsule {
            //                 display: block;
            //                 float: left;
            //                 width:80px;
            //                 height: 80px;
            //                 top: 10px;
            //                 background-size: contain;
            //                 background-repeat: no-repeat;
                            
            //             }
            //             .card-title {
            //                 position: relative;
            //                 float: left;
            //                 width: calc(100% - 80px);
                            
            //                 padding: 0;
            //                 box-sizing: content-box;
            //             }
            //             .card-text {
            //                 clear: left;
            //             }

            //             .toGithub {
            //                 position: absolute;
            //                 bottom: 0;
            //                 right: 0;
            //                 height: 30px;
            //                 width: 100%;
            //                 a {
            //                     position: absolute;
            //                     font-weight: 500;
            //                     top: 15%;
            //                     right: 0;
            //                     text-decoration: none;
                                
            //                 }
            //             }
                        
            //         }
                    
            //     }
                
            // }
            .milestoneItemContainer {
                width: 80%;
                margin: auto;
                flex-direction: row;
                display: flex;
                padding: 15px;
                position: relative;
                div.logoContainer {
                    width: 30%;
                    img {
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        border: 8px white solid;
                        margin-top: 25px
                    }
                }
                .descriptionContainer {
                    padding: 15px;
                    
                    h3 {
                        font-size: 32px;
                        color:black;
                    }
                    p {
                        font-size: 21px;
                        font-weight: 600;
                        text-align: justify;
                    }
                }

                .imageListContainer {
                
                }
                a {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    display: flex;
                    background-color: white;
                    padding: 2px 2px 2px 2px;
                    border-radius: 20px;
                    justify-content: center;
                    border: 1px black solid;
                    height: 35px;
                    padding-right: 2px;
                    text-decoration: none;
                    i {
                        position: relative;
                        font-size: 28px;
                    }
                    p {
                        padding-top: 10px;
                        display: inline-block;
                        white-space: nowrap;
                        align-self: center;
                        width: 0;
                        overflow:hidden;                        
                        transition: width 0.6s ease-in-out;
                        
                    }
                    &:hover p {
                        
                        width: 120px;
                    }
                    
                }
                
            }
        }
    }

    h1 {
        width: 40%;
        float: left;
        @media screen and (max-width: 600px){
            font-size: 30px !important;
        }
        font-size: $h1;
        transition-duration: 0.4s;
        text-indent: 20px;
        ~ div {
            width: 60%;            
            display: inline-block;
            position: absolute;
            bottom: 0;
            right: 0;
            @media screen and (max-width: 600px){
                display: none;
            }
            
            div {
                display: inline-block;
                width: calc(100%/3);
                text-align: center;
                overflow: hidden;
                padding-bottom: 10px;
                font-size: 32px;
                color: #ababab;
            }
        }
    }    

    h2 {
        padding-top: 100px;
    }

    h3 {
        padding: 16px 0;
        // background-color: aqua;
    }
 //}